Repository regalstreak/hackout-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
	"*.{ts,js}": "eslint --cache --fix",
	"*.{json,yml,yaml,md}": "prettier --write"
}

build: eslintignore, editorconfig
  .editorconfig
  .eslintignore
Due: none

feat: simple ping-pong
  .gitignore
  src/index.ts
Due: eslint --cache --fix

feat: basic email command
  package.json
  src/constants/message.ts
  src/controllers/register.ts
  src/index.ts
  src/utils/message.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

build: dockerize & compose for development
  .dockerignore
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  src/constants/message.ts
Due: eslint --cache --fix, prettier --write

feat: register with mongodb
  .dockerignore
  .env.example
  package.json
  src/constants/message.ts
  src/controllers/register.ts
  src/index.ts
  src/models/hacker.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: unregister
  src/constants/message.ts
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/index.ts
Due: eslint --cache --fix

fix: prefixes and deletion of messages on deletionChannels
  src/constants/message.ts
  src/controllers/register.ts
  src/index.ts
  src/utils/message.ts
Due: eslint --cache --fix

feat: registration roles
  src/constants/constants.ts
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/index.ts
  src/utils/message.ts
  src/utils/roles.ts
Due: eslint --cache --fix

feat: log unregistered users
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/models/hacker.ts
  src/models/unregisteredHacker.ts
Due: eslint --cache --fix

build: remove mongodb, use atlas
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

build: completely flesh out Docker
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

ci(heroku): procfile
  Procfile
Due: none

feat: ping, mention reply
  src/constants/constants.ts
  src/controllers/default.ts
  src/controllers/ping.ts
  src/index.ts
  src/utils/message.ts
Due: eslint --cache --fix

fix: dont proceed further if the bot is replying
  src/index.ts
Due: eslint --cache --fix

feat: use channel ids instead of names
  src/constants/constants.ts
  src/utils/message.ts
Due: eslint --cache --fix

refactor: delete messages properly
  src/constants/constants.ts
  src/controllers/default.ts
  src/controllers/ping.ts
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/index.ts
  src/utils/message.ts
Due: eslint --cache --fix

feat: give conference role to hackers
  src/constants/constants.ts
  src/controllers/register.ts
Due: eslint --cache --fix

feat: log discord registrations and unregistrations
  src/constants/constants.ts
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/utils/logActions.ts
Due: eslint --cache --fix

feat(logger): red for unregistrations
  src/utils/logActions.ts
Due: eslint --cache --fix

fix(logactions): user tagging
  src/utils/logActions.ts
Due: eslint --cache --fix

refactor: isAllowedChannel -> isRegistrationChannel
  src/constants/constants.ts
  src/index.ts
  src/utils/message.ts
Due: eslint --cache --fix

feat: meme wars
  src/constants/constants.ts
  src/controllers/memes.ts
  src/index.ts
  src/utils/message.ts
  src/utils/roles.ts
Due: eslint --cache --fix

chore: disable dev memes channel
  src/constants/constants.ts
Due: eslint --cache --fix

fix: dont crash on 0 memes, visual feedback for stopping memes
  src/controllers/memes.ts
  src/index.ts
  src/utils/message.ts
Due: eslint --cache --fix

fix: deleteMessage parameters
  src/controllers/memes.ts
  src/utils/message.ts
Due: eslint --cache --fix

build: build on pre-commit to ensure no breaks
  .huskyrc.json
Due: prettier --write

feat: process hackers
  .gitignore
  package.json
  src/constants/constants.ts
  src/controllers/processHackers.ts
  src/controllers/purgeTeams.ts
  src/controllers/register.ts
  src/controllers/unregister.ts
  src/index.ts
  src/models/hacker.ts
  src/models/team.ts
  src/utils/roles.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: make team numbers start from 1
  src/controllers/processHackers.ts
Due: eslint --cache --fix

Revert "fix: make team numbers start from 1"
  src/controllers/processHackers.ts
Due: eslint --cache --fix

fix: team numbers start from 1
  src/controllers/processHackers.ts
Due: eslint --cache --fix

fix: process csv from string
  .gitignore
  package.json
  src/constants/constants.ts
  src/controllers/processHackers.ts
  src/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: remove discord role creation
  package.json
  src/controllers/processHackers.ts
  src/models/team.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: nonregistered hackers loop
  src/controllers/processHackers.ts
Due: eslint --cache --fix

fix: giving roles to guild members
  src/constants/constants.ts
  src/controllers/processHackers.ts
Due: eslint --cache --fix

fix: hacker roles
  src/controllers/processHackers.ts
Due: eslint --cache --fix

feat(deployment): dsc-wow
  src/constants/constants.ts
  src/controllers/register.ts
Due: eslint --cache --fix

feat: remove hardcoded hackathon name in replies
  src/constants/constants.ts
Due: eslint --cache --fix

fix: roles for DSC-WOWt
  src/constants/constants.ts
Due: eslint --cache --fix

fix: null values in getRoleByName
  src/utils/roles.ts
Due: eslint --cache --fix

feat(deployment): haxplore 2.0
  src/constants/constants.ts
Due: eslint --cache --fix
